kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "traefik-ingress.name" . }}-controller
  labels:
    app: {{ template "traefik-ingress.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "traefik-ingress.name" . }}-controller
subjects:
- kind: ServiceAccount
  name: {{ template "traefik-ingress.name" . }}-controller
  namespace: kube-system
