{{- if eq .Values.controller.deploy.type "deployment" -}}
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ template "traefik-ingress.name" . }}-controller
  namespace: kube-system
  labels:
    k8s-app: {{ template "traefik-ingress.name" . }}-lb
    app: {{ template "traefik-ingress.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.controller.replicas }}
  selector:
    matchLabels:
      k8s-app: {{ template "traefik-ingress.name" . }}-lb
  template:
    metadata:
      labels:
        k8s-app: {{ template "traefik-ingress.name" . }}-lb
        name: {{ template "traefik-ingress.name" . }}-lb
    spec:
      serviceAccountName: {{ template "traefik-ingress.name" . }}-controller
      terminationGracePeriodSeconds: 60
      hostNetwork: {{ .Values.controller.hostNetwork }}
      containers:
      - image: "{{ .Values.controller.image.repository }}:{{ .Values.controller.image.tag }}"
        imagePullPolicy: "{{ .Values.controller.image.pullPolicy }}"
        name: {{ template "traefik-ingress.name" . }}-lb
        args:
        - --api
        - --kubernetes
{{- end -}}
