kind: Service
apiVersion: v1
metadata:
  name: {{ template "traefik-ingress.name" . }}-service
  namespace: kube-system
  labels:
    app: {{ template "traefik-ingress.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  selector:
    k8s-app: {{ template "traefik-ingress.name" . }}-lb
  ports:
    - protocol: TCP
      port: 80
      name: web
    - protocol: TCP
      port: 8080
      name: admin
  type: {{ .Values.service.serviceType }}
