apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "traefik-ingress.name" . }}-controller
  namespace: kube-system
  labels:
    app: {{ template "traefik-ingress.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
